<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusVerse</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <div class="container">
        <h1>🌌FocusVerse!!</h1>
        <p>Your Peaceful Portal to Productivity!</p>

        <div class="timer">
            <span id="minutes">25</span> : <span id="seconds">00</span>
        </div>

        <div class="controls">
            <button onclick="startButton()">Start</button>
            <button onclick="stopButton()">Stop</button>
            <button onclick="resetButton()">Reset</button>
            <button onclick="gotdistracted()">I Got Distracted 😅</button>
        </div>

        <div id ="distractionmessage"> </div>

        <div id ="quoteBox">🌿 Stay calm and keep going...</div>

        <div class="music-controls">
            <audio id="bgMusic" loop>
                <source src="https://www.bensound.com/bensound-music/bensound-slowmotion.mp3" type="audio/mp3" />
            </audio>
            <button onclick="toggleMusic()">🎵 Toggle Music</button>
            <div id = "volumeControl">
                <br/>
                <span>🔊</span>
                <input type="range" min="0" max="100" value="30" class="slider" id="volumeControlSlider" />
            </div>
        </div>
    </div>
    <script src="..\static\js\script.js"></script>
</body>
</html>
